{% extends 'layouts/main.html' %}
{% block title %}Confirm submitted data{% endblock %}
{% block content %}
    <section class="section dashboard">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            {% if message.type == 'success' %}
            <div id="alert" class="alert alert-primary text-center" role="alert">
              {{ message.msg }}
            </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endwith %}
      <div class="row">
        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Personal Data</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#prediction-data">Prediction Data</button>
                </li>


              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
              
                  <h5 class="card-title">Personal Details
                    <sup>(<span  style="font-size: 12px;" id="e_id">{{enquiry.e_id}}</span>)</sup>
                  </h5>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                    <div class="col-lg-9 col-md-8" id="name">{{enquiry.name}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Education</div>
                    <div class="col-lg-9 col-md-8" id="education">{{enquiry.education}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Email</div>
                    <div class="col-lg-9 col-md-8" id="email">{{enquiry.email}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Region</div>
                    <div class="col-lg-9 col-md-8" id="region">{{enquiry.region}}</div>
                  </div>

                </div>
                
                <div class="tab-pane fade show" id="prediction-data">

                  <h5 class="card-title">Prediction Data</h5>

                  <div class="row">
                    <div class="col-lg-6 col-md-4 label">Financial Gain Intention</div>
                    <div class="col-lg-6 col-md-8" id="fin_gain">{{enquiry.fin_gain}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6 col-md-4 label ">Intention to Learn</div>
                    <div class="col-lg-6 col-md-8" id="int_learn">{{enquiry.int_learn}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6 col-md-4 label ">Developer Involvement</div>
                    <div class="col-lg-6 col-md-8" id="dev_inv">{{enquiry.dev_inv}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6 col-md-4 label ">Project Desertion</div>
                    <div class="col-lg-6 col-md-8" id="proj_desertion">{{enquiry.proj_desertion}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6 col-md-4 label ">Developer Experience</div>
                    <div class="col-lg-6 col-md-8" id="dev_experience">{{enquiry.dev_experience}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6 col-md-4 label ">System Integration</div>
                    <div class="col-lg-6 col-md-8" id="sys_int">{{enquiry.sys_int}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6 col-md-4 label ">Technical Contribution norm</div>
                    <div class="col-lg-6 col-md-8" id="tech_norm">{{enquiry.tech_norm}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6 col-md-4 label ">Code Testing Task</div>
                    <div class="col-lg-6 col-md-8" id="code_test">{{enquiry.code_test}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6 col-md-4 label ">Contributed Code Decoupling</div>
                    <div class="col-lg-6 col-md-8" id="cont_code_dec">{{enquiry.cont_code_dec}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6 col-md-4 label ">Decision Right Delegation</div>
                    <div class="col-lg-6 col-md-8" id="dec_right_del">{{enquiry.dec_right_del}}</div>
                  </div>
                  
                  <div class="row">
                    <p class="text-center" id="error"></p>
                  </div>

                  <div class="row mt-4">
                    <form>
                      <div class="text-center">
                        <button type="submit" id="predict" class="btn btn-primary">
                          <span id="spinner" class="" role="status" aria-hidden="true"></span>
                          <span id="btn-txt">Send Data to the Model</span>
                        </button>
                      </div>
                    </form><!-- End Profile Edit Form -->
                  </div>
                </div>
            </div>
          </div>

        </div>
      </div>
      <script type="text/javascript">
        $(document).ready(function(){
          $("#predict").on('click', function(e){
            e.preventDefault()
            var e_id = $('#e_id').text()
            var name = $('#name').text()
            var int_learn = $('#int_learn').text()
            var fin_gain = $('#fin_gain').text()
            var tech_cont_norm = $('#tech_norm').text()
            var sys_int = $('#sys_int').text()
            var cod_test_task = $('#code_test').text()
            var cont_code_dec = $('#cont_code_dec').text()
            var dec_right_del = $('#dec_right_del').text()
            var dev_inv = $('#dev_inv').text()
            var proj_desertion = $('#proj_desertion').text()
            var dev_experience = $('#dev_experience').text()

            
            var request_data = {
              e_id: e_id,
              name: name,
              int_learn: int_learn,
              cod_test_task: cod_test_task,
              cont_code_dec: cont_code_dec,
              dec_right_del: dec_right_del,
              dev_experience: dev_experience,
              dev_inv: dev_inv,
              fin_gain: fin_gain,
              proj_desertion: proj_desertion,
              sys_int: sys_int,
              tech_cont_norm: tech_cont_norm
            }

            $.ajax({
              url:"/api",
              method:"POST",
              data: request_data,
              beforeSend: function(){
               $("#spinner").addClass('spinner-grow spinner-grow-sm')
               $("#btn-txt").text("Sending data...")
              },
              success: function(res){
                $("#predict").addClass('btn-success')
                $("#btn-txt").text("Predicting...")
                setTimeout(()=>{
                  $("#predict").addClass('btn-info')
                  $("#btn-txt").text("Redirecting...")
                  window.location.href = res.redirect
                },2000)
              },
              error: function(xhr, status, error){
                $("#error").html(error)
              }
                  
             });

          })
        })
      </script>
    </section>
{% endblock %}