{% extends 'layouts/main.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <section class="section dashboard">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            {% if message.type == 'success' %}
            <div id="alert" class="alert alert-primary text-center" role="alert">
              {{ message.msg }}
            </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endwith %}
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12" style="margin: 0 auto;">
          <div class="row">

            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="card-body">
                  <h5 class="card-title">Enquiry Requests</h5>
                  <p>Clicking the prediction button will send a request to the API using the current data.</p>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Date Submitted</th>
                        <th scope="col">Predict</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if enquiries %}
                        {% for enquiry in enquiries %}
                        <tr>
                          <th scope="row">{{loop.index}}</th>
                          <td>{{enquiry.name}}</td>
                          <td>{{enquiry.email}}</td>
                          <td>{{enquiry.date_submitted}}</td>
                          <td>
                            <a href="confirm/{{enquiry.id}}" class="btn btn-primary rounded-pill btn-sm">Predict</a>
                          </td>
                        </tr>
                        {% endfor %}
                      {% endif %}
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Recent Sales -->

            
          </div>
        </div><!-- End Left side columns -->
      </div>
    </section>
{% endblock %}