{% extends 'layouts/main.html' %}
{% block title %}File Prediction{% endblock %}
{% block content %}
    <section class="section">
      <div class="row">
        <div class="col-lg-8" style="margin:0 auto;">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Predict from a CSV file</h5>

              <!-- Vertical Form -->
              <form class="row g-3" id="UploadFile" method="POST" enctype="multipart/form-data">
                <div class="row mb-3">
                  <label for="inputNumber" class="col-sm-10 col-form-label">File Upload</label>
                  <div class="col-sm-12">
                    <input class="form-control" type="file" id="formFile" name="fromFile" accept=".csv" required>
                  </div>
                </div>
                <div class="col-4" style="margin: 0 auto;">
                  <button type="submit" id="predict" class="btn btn-primary">
                    <span id="spinner" class="" role="status" aria-hidden="true"></span>
                    <span id="btn-txt">Send File</span>
                  </button>
                </div>
              </form><!-- Vertical Form -->

            </div>
          </div>
      </div>
    </section>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#UploadFile').submit(function(e){
          e.preventDefault()
          $.ajax({
            url: '/from_file',
            method: 'POST',
            data: new FormData(this),
            contentType: false,
            cache: false,
            processData: false,
            beforeSend: function(){
             $("#spinner").addClass('spinner-grow spinner-grow-sm')
             $("#btn-txt").text("Sending file...")
            },
            success: function(res){
              setTimeout(()=>{
                $("#predict").removeClass('btn-primary')
                $("#predict").addClass('btn-success')
                $("#btn-txt").text("Predicting data...")
              },1000)
              setTimeout(()=>{
                $("#predict").removeClass('btn-success')
                $("#predict").addClass('btn-info')
                $("#btn-txt").text("Redirecting...")
                window.location.href = res.redirect
              },2000)
            },
            error: function(xhr, status, error){
              $("#error").html(error)
            }
          })
        })
      })
    </script>

{% endblock %}